{{ define "view" }}
<p>Hello, World!</p>

<div id="counter">{{ template "counter" . }}</div>

{{ end }}

<!-- ex: golang html template partial -->
{{ define "counter" }}

<div id="counter-container">
  <form
    id="update"
    hx-post="/counter"
    hx-target="#counter-container"
    hx-swap="innerHTMl"
  >
    <fieldset role="group">
      <input type="number" name="count" value="{{ .Count }}" />
      <input type="submit" value="update" />
    </fieldset>
  </form>

  <div class="grid">
    <form
      id="add"
      hx-post="/counter?op=add"
      hx-target="#counter-container"
      hx-swap="innerHTMl"
    >
      <input type="number" hidden name="count" value="{{ .Count }}" />
      <button type="submit">+</button>
    </form>

    <form
      id="subtract"
      hx-post="/counter?op=subtract"
      hx-target="#counter-container"
      hx-swap="innerHTMl"
    >
      <input type="number" hidden name="count" value="{{ .Count }}" />
      <button type="submit">-</button>
    </form>
  </div>
</div>
{{ end }}
